<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>Login</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>servlet.vcrobot.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>servlet.vcrobot.Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Vcrobot</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>servlet.vcrobot.se.Vcrobot</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EvalQA</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>servlet.vcrobot.EvalQA</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/servlet/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Vcrobot</servlet-name>
    <url-pattern>/servlet/Vcrobot</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EvalQA</servlet-name>
    <url-pattern>/servlet/EvalQA</url-pattern>
  </servlet-mapping>

</web-app>